<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sketch a function</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='drawingboard.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='drawingboard.css') }}">
    <style>
        .board {
            width:300px;
            height:300px;
        }
        .bring-to-front {
            position:absolute;
        }
    </style>
</head>
<body>
    <div class="row justify-content-center">
        <div class="ml-2 mt-1 col-lg-2">
            <div class="mt-2 container">
                <h3>Choose Functions</h3>
            </div>
            <div class="mt-4 container">
                {% for model_name in model_names %}
                <input class="form-check-input" type="checkbox" name="model_checkboxes" value="{{ model_name }}" checked>
                <span class="badge badge-info">{{ model_name }}</span>
                <br>
                {% endfor %}
            </div>
        </div>
        <div class="ml-1 mt-1 col-lg-4">
            <div class="mt-2 container" >
                <div class="row">
                    <img src="{{ url_for('static', filename='img/gridlines.jpg') }}" class="board" alt="" />
                    <div id="canvas" class="bring-to-front board"></div>
                </div>
            </div>
            <div class="mt-3 container">
                <span class="label label-primary" style="font: size 2em;"><strong>Poly Order</strong></span>
                <input id="slider" class="border-0 ml-1 mr-1" type="range" min="0" max="5" />
                <span class="font-weight-bold text-primary ml-1 mt-1 valueSpan"></span>
            </div>
            <div class="mt-3 container">
                <button onclick="get_best_fit()" type="button" class="btn btn-outline-success">Get Best Fit</button>
                <button onclick="erase_drawing()" type="button" class="btn btn-outline-success">Clear</button>
            </div>
        </div>

        <div class="ml-1 mt-1 col-lg-4">
            <div class="mt-2 container" >
                <div class="row">
                    <img src="{{ url_for('static', filename='img/gridlines.jpg') }}" class="board" alt="" />
                    <img id="display_canvas" class="bring-to-front board" alt="">
                </div>
            </div>
            <div class="mt-3 container">
                <strong><samp id="model_name"></samp></strong>
            </div>
            <div class="mt-1 container">
                <samp id="equation_string"></samp>
            </div>
            <div class="mt-1 container">
                <samp id="mse"></samp>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='onstart.js') }}"></script>
</body>
</html>